<html>
      <head>
          <link rel="icon" href="../static/uddspotbot_icon.png">
          <meta charset="UTF-8">
            <title>UDD SpotBot User Metrics</title>
            <link rel="stylesheet" href='../static/style.css'/>
            <style>
                body {
                    background: #1D5292;
                    color: white;
                    text-align: center;
                    font-family: Arial;
                }
            </style>
      </head>
  <body>
    <h1>UDD SpotBot Block User</h1>
    <h3 style="color: yellow;"> If you really want to Block @{{ user }}, use below button:</h3> 
      <p><a href="{{ page_link }}" target="_blank" class="button">BLOCK > ...</a></p>
    <br>
    <p> {{ time }}</p>
    <hr>
	<h3> Return to Main Page <a href="/"class="button">&crarr;</a></h3>	
	<hr>
	<p> @2019 UDD - MDS18 - PD</p>
  </body>
</html>