<html>
      <head>
          <link rel="icon" href="../static/uddspotbot_icon.png">
          <meta charset="UTF-8">
            <title>UDD SpotBot User Metrics</title>
            <link rel="stylesheet" href='../static/style.css'/>
            <style>
                body {
                    background: #1D5292;
                    color: white;
                    text-align: center;
                    font-family: Arial;
                    
                }
            </style>
      </head>
  <body>
    <h1>UDD SpotBot User Metrics</h1>
      <table align="center" border = 1>
            <tr>
                <th>User</th>
                <th><img src="{{ photo }}"/> </th>
            </tr>
                <tr>
                    <td>Screen Name</td>
                    <td>@{{ user }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>{{ id }}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{ loc }}</td>
                </tr>
                <tr>
                    <td>There is description </td>
                    <td>{{ descr }}</td>
                </tr>
       </table>
      <br>
       <table align="center" border = 1>
            <tr>
                <th>Metrics</th>
                <th> </th>
            </tr>
                <tr>
                    <td>Number of Tweets analysed</td>
                    <td>{{ tweets_analysed }}</td>
                </tr>     
                <tr>
                    <td>Older Tweet Analysed</td>
                    <td>{{ older_tweet_date }}</td>
                </tr>
                  <tr>
                    <td>Last Tweet Date</td>
                    <td>{{ last_tweet_date }}</td>
                </tr>
                <tr>
                    <td>Account Age Days</td>
                    <td>{{ acc_age_days }}</td>
                </tr>
                <tr>
                    <td>Average recent tweets per day</td>
                    <td>{{ ave_recent_tw_day }}</td>
                </tr>
                <tr>
                    <td>Average Tweets per day since start</td>
                    <td>{{ ave_tw_day }}</td>
                </tr>

                <tr>
                    <td>Total Tweets since start</td>
                    <td>{{ tws_cnt }}</td>
                </tr>
                <tr>
                    <td>Following</td>
                    <td>{{ frs_cnt }}</td>
                </tr>
                <tr>
                    <td>Followers</td>
                    <td>{{ fols_cnt }}</td>
                </tr>
                <tr>
                    <td>Likes</td>
                    <td>{{ fav_cnt }}</td>
                </tr>
                <tr>
                    <td>Retweet Ratio</td>
                    <td>{{ rt_ratio }}%</td>
                </tr>
                <tr>
                    <td>Mentions</td>
                    <td>{{ mentions_cnt }}</td>         
               </tr>           
               <tr>
                    <td>Mentions Unique Index</td>
                    <td>{{ ment_idx }}</td>         
               </tr>
                <tr>
                    <td>Hashtags</td>
                    <td>{{ hashtags_cnt }}</td>
                </tr>
                <tr>
                    <td>Hashtag Unique Index</td>
                    <td>{{ hash_idx }}</td>
                </tr>
        </table>
    <br>
    <p> Info retrieved at: {{ time }}</p>
    <hr>
    <h3> Block User on Tweeter:
        <p>
          <form action='/block' method="POST">
                <input name="user" value= {{ user }}>
                <input type="submit">
          </form>
        </p> 
    <hr>
	<h3> Return to Main Page <a href="/"class="button">&crarr;</a></h3>	
	<hr>
	<p> @2019 UDD - MDS18 - PD</p>
  </body>
</html>